
@use '../util/' as u;

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*::before, *::after {
    box-sizing: inherit;
}

body, h1, p {
    margin: 0;
}

body {
    background-color: var(--light-grayish-blue);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 500;
    font-size: 1.3rem;
    color: var(--white);
    height: auto;
    margin: 3rem 1rem ;

    @include u.breakpoint(medium) {
        margin: 7rem 1rem;
    }

    @include u.breakpoint(xlarge) {
        margin: 14rem 1rem;
    }
}

