
:root {
    --moderate-violet: hsl(263, 55%, 52%);
    --dark-grayish-blue: hsl(217, 19%, 35%);
    --dark-grayish-bl: 217, 19%, 35%;
    --dark-blackish-blue: hsl(217, 30%, 14%);
    --white-hsl: hsl(0, 0%, 100%);
    --white: 0, 0%, 100%;
    --light-gray: 0, 0%, 81%;
    --light-grayish-blue: hsl(210, 46%, 95%);
    
}

